@tailwind base;
@tailwind components;
@tailwind utilities;

@import url("https://fonts.cdnfonts.com/css/sf-ui-display");

.font-sf {
  font-family: "SF UI Display", sans-serif;
}

.header-input {
  border: 1px solid #5b8cec;
}

mark {
  color: #5b8cec;
  background-color: transparent;
}
